{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container-fluid">
	<div class="header col-md-12">
		Image <div class="white"> Duplicate Detection </div>  
		Using Neural Networks
	</div>
	<input id="image_url" class="no-display"> </input>

	<div class="col-md-12 controls">
		<div class="col-md-6 demo-title">
			Image Manipulation Controls <br>
			<div class="col-md-12 demo-description">
				Use the controls on ther right to alter the image.
			</div>
		</div>
		<div class="col-md-1 edit-control">
			<input type="range" name="slider-fill" id="brightness" class="slider-fill" value="100" min="0" max="100" data-highlight="true" onchange="changeBrightness(this.value)">
			Brightness
		</div>
		<div class="col-md-1 edit-control shadows">
			<input type="range" name="slider-fill" class="slider-fill" value="50" min="0" max="100" data-highlight="true">
			Shadows 
		</div>
		<div class="col-md-1 edit-control color">
			<input type="range" name="slider-fill" id="tint" class="slider-fill" value="0" min="0" max="100" data-highlight="true" onChange="tintColor(this.value)">
			Color
		</div>
		<div class="col-md-1 edit-control">
			<img src="{% static 'rotate.png' %}" id="rotate-image"  onclick="rotate()"> <br>
			<input id="rotate" class="no-display" value="0"> </input>
			Rotate
		</div>
	</div>
	<div class="content col-md-12">
		<div class="upload_photo col-md-4">
			<div class="col-md-12">
				<div class="photo-container">
					<canvas id="big-photo" > </canvas>
				</div>
			</div>
			<div class="col-md-12">
				<button type="button" class="button mini-button"> 
					<input type="file" class="file-input" name="pic" accept="image/*" onchange="showImage(this);"> 
					Upload Photo 
				</button>
				<button type="button" class="button mini-button"> Get Random Photo </button>
			</div>
		</div>
		<button type="button" class="button go col-md-1"> GO</button>
		<div class="matches col-md-6">
			<table class=" match-table col-md-12">
				<tr>
					<td class="match"> 
						<div class="matchbox"> 
						</div>
						<div class="match-rate">
							<div class="match-meter">
							  <span style="width: 81%"></span>
							</div>
							<div class="percentage">
								81%
							</div>
						</div>
					</td>
					<td class="match"> 
						<div class="matchbox"> 
						</div>
						<div class="match-rate">
							<div class="match-meter">
							  <span style="width: 75%"></span>
							</div>
							<div class="percentage">
								75%
							</div>
						</div>
					</td>
					<td class="match"> 
						<div class="matchbox"> 
						</div>
						<div class="match-rate">
							<div class="match-meter">
							  <span style="width: 60%"></span>
							</div>
							<div class="percentage">
								60%
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="match">
						<div class="matchbox"> 
						</div>
						<div class="match-rate">
							<div class="match-meter">
							  <span style="width: 25%"></span>
							</div>
							<div class="percentage">
								25%
							</div>
						</div>
					</td>
					<td class="match"> 
						<div class="matchbox"> 
						</div>
						<div class="match-rate">
							<div class="match-meter">
							  <span style="width: 15%"></span>
							</div>
							<div class="percentage">
								15%
							</div>
						</div>
					</td>
					<td class="match"> 
						<div class="matchbox"> 
						</div>
						<div class="match-rate">
							<div class="match-meter">
							  <span style="width: 5%"></span>
							</div>
							<div class="percentage">
								5%
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="more col-md-12">
		<button class="mdl-button mdl-js-button mdl-button--fab" onClick="document.getElementById('explanation').scrollIntoView();"> 
			<div class="down-arrow">  </div>
		</button>
	</div>
	<div class="explanation col-md-12" id="explanation">
		<div class="question">
			Why is this important?
		</div>
		<div class="answer">
			Because I rock
		</div>
		<div class="question">
			Why is this important?
		</div>
		<div class="answer">
			Because I rock
		</div>
	</div>
	<div class="footer col-md-12">
		Created by James Evans and Gabriela Leichnitz
	</div>
</div>

{% endblock %}